* { 
    box-sizing: border-box;
}


:root {
--primary: #1d4375;
--secondary: #36383b;
--tertiary: #f1eed7;
--quaternary: rgb(230, 230, 240);
--quinary: #2566bc;
--dark: #160b01;
--light: #e7dfd8;
}

body { 
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: var(--secondary);
    line-height: 1.5;
    background-image: linear-gradient(to bottom, var(--light), var(--primary));
}

h1, 
h2, 
h3,
h4,
h5, 
h6 {
    margin: 0;

}

p {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--dark);
}

nav a {
    color: var(--tertiary);
    padding-right: 15px;
    text-decoration: none;
    font-size: 1rem;
    word-spacing: -5px;
}

nav a:hover {
    color: var(--quinary);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

header {
    background-image: url(../images/laptop-hero-image.jpeg);
    background-size: 50%;
}

header h1 { 
    align-items: center;
    text-align: center;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 50%;
    border-style: ridge;
    Padding: 15px;
    margin: 10px;
    font-size: 3rem;
    font-family: monospace;
}

.hero-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:var(--dark);
    margin-top: var(--light);
    margin-top: 1px;
}

.hero-banner > h2 {
    text-align: center;
    font-size: 1.5rem;
    font-style:unset;
    color: var(--light);
}

main {
    display: flex;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.contact-sidebar {
    display: flex;
    flex-direction: column;
    min-width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding: 1px;
    margin-top: 20px;
    border-style:outset;
    border-width: 2px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--light);
}


.sidebar-item {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--tertiary);
    margin-bottom: 5px;
    margin-top: 1px;
    font-size: 0.9rem;
    padding: 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    font-family: courier;
    border-style: outset;
    border-width: thin;
}

.contact-sidebar h2 {
    font-size: 1.3rem;
    color: var(--primary);
}

.sidebar-item ul {
    list-style-position: inside;
    padding-left: 5px;
}

.profile-image {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-right: auto;
    display: inline-block;
}

.profile-image:active {
    transform: scale(2);
}

.main-body {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    min-width: 70%;
}

.main-section {
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    background-color: var(--tertiary);
    border-radius: 5%;
    border-style:outset;
}

.main-section > h2 {
    font-size: 1.5rem;
   color: var(--primary);
}

.main-section p {
    font-size: 1rem;
    margin-bottom: 5px;
    font-family: courier;
    width: 100%;
    padding: 5px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: space-evenly;
}

.flex-item {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    border-style: solid;
    border-color: var(--secondary);
    margin: 5px;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1rem);
    text-decoration: none;
}

.flex-item:first-child {
    max-height: 250px;
    min-height: 250px;
    flex-basis: calc(100% - 1rem);
}

.flex-item > h3 {
    font-size: 1rem;
    background-color: var(--primary);
    color: var(--light);
    padding: 3px;
}

.application-1-pic {
    background-image: url(../images/Assignment_1_Code_Refactor.png);
    background-size: cover;
}

.application-2-pic {
    background-image: url(../images/application-2-pic.jpeg);
    background-size: cover;
}

.application-3-pic {
    background-image: url(../images/application-3-pic.jpeg);
    background-size: cover;
}

.application-4-pic {
    background-image: url(../images/application-4-pic.jpeg);
    background-size: cover;
}

.application-5-pic {
    background-image: url(../images/application-5-pic.jpeg);
    background-size: cover;
}

.flex-item:hover {
    border-color: var(--quinary);
    transform: scale(1.02);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--dark);
    color: var(--tertiary);
    margin-top: 5%;
}


/* Media Query for Phones and Tablets */

@media screen and (max-width: 768px) { 
 
    .contact-sidebar {
        max-width: 75%;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
        min-width: 100%;
        margin: auto;
        padding: 5px;
    }

    .profile-image:hover {
        transform: none;
    }
}
