* { 
    box-sizing: border-box;
}

body { 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
    background-color: burlywood;
    line-height: 1.5;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    background-color: blue;
}

nav a {
    color: black;
    padding-right: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: cornflowerblue;
}
header h1 { 
    max-width: 30%;
    align-items: center;
    text-align: center;
    background-color:grey;
}

.hero-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darkblue;
}

.hero-banner > h2 {
    background-color: whitesmoke;
    text-align: center;
}

main {
    display: flex;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.contact-sidebar {
    display: flex;
    flex-direction: column;
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding: 2px;
    background-color:red;
    margin-top: 20px;
}


.sidebar-item {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: brown;
    margin-bottom: 5px;
    overflow-wrap: break-word;
}

.profile-image {
    width: 95%;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 5px;
}

.main-body {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    min-width: 70%;
}

.main-section {
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    background-color: pink;
    border-radius: 5%;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: space-evenly;
}

.flex-item {
    background-color: grey;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
    margin: 5px;
    justify-content: space-evenly;
}

.flex-item:first-child {
    min-width: 150px;
    min-height: 150px;
    flex-basis: 100%;
}


.application-1-pic {
    background-image: url(../images/application-1-pic.jpeg);
    background-size: cover;
}

.application-2-pic {
    background-image: url(../images/application-2-pic.jpeg);
    background-size: cover;
}

.application-3-pic {
    background-image: url(../images/application-3-pic.jpeg);
    background-size: cover;
}

.application-4-pic {
    background-image: url(../images/application-4-pic.jpeg);
    background-size: cover;
}

.application-5-pic {
    background-image: url(../images/application-5-pic.jpeg);
    background-size: cover;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: green;
}